 .u-section-1 {
  min-height: 916px;
}

.u-section-1 .u-image-1 {
  height: 735px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 942px;
  min-height: 395px;
  height: auto;
  background-image: none;
  --top-left-radius: 30px;
  --top-right-radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -214px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  --radius: 100px;
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 1px;
  align-self: center;
  margin: 20px auto 0;
  padding: 17px 53px 19px 51px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: -801px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 20px auto 666px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2)  + 345px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2)  + 264px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2)  + 198px);
  }

  .u-section-1 .u-text-3 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 628px;
    object-position: 53.27% 50%;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -108px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    padding: 18px 37px 18px 36px;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2)  + 125px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 967px;
}

.u-section-2 .u-text-1 {
  margin: 17px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 8px 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 17px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 10.6667px));
  min-height: 318px;
  grid-auto-columns: calc(33.3333% - 10.6667px);
  --gap: 16px;
}

.u-section-2 .u-image-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('images/photo-1583911860205-72f8ac8ddcbe.jpeg');
  --radius: 15px;
  background-position: 50% 50%;
  background-size: cover, cover;
}

.u-section-2 .u-container-layout-1 {
  padding: 15px 13px;
}

.u-section-2 .u-text-3 {
  margin: 0 17px;
}

.u-section-2 .u-text-4 {
  margin: 26px 0 0;
}

.u-section-2 .u-image-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('images/photo-1581594549595-35f6edc7b762.jpeg');
  --radius: 15px;
  background-position: 50% 50%;
  background-size: cover, cover;
}

.u-section-2 .u-container-layout-2 {
  padding: 15px 13px;
}

.u-section-2 .u-text-5 {
  margin: 0 17px;
}

.u-section-2 .u-text-6 {
  margin: 26px 0 0;
}

.u-section-2 .u-image-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('images/photo-1631203882303-30634a9528d6.jpeg');
  --radius: 15px;
  background-position: 50% 50%;
  background-size: cover, cover;
}

.u-section-2 .u-container-layout-3 {
  padding: 15px 13px;
}

.u-section-2 .u-text-7 {
  margin: 0 17px;
}

.u-section-2 .u-text-8 {
  margin: 26px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 24px 331px 0 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.5rem;
  margin: 17px 0 0;
}

.u-section-2 .u-text-11 {
  margin: 26px 785px 0 0;
}

.u-section-2 .u-text-12 {
  font-size: 1.125rem;
  margin: -1px 0 25px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 10.6667px));
    min-height: 262px;
    grid-auto-columns: calc(33.333333333333336% - 10.6667px);
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-right: 131px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8.000025px));
    min-height: 602px;
    grid-auto-columns: calc(50% - 8.000025px);
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 365px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 185px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1219px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-text-3 {
  margin: 29px auto 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-text-5 {
  margin: 29px auto 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-text-9 {
  margin: 29px auto 0 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-text-11 {
  margin: 29px 764px 0 0;
}

.u-section-3 .u-text-12 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-text-13 {
  margin: 78px 331px 0 0;
}

.u-section-3 .u-text-14 {
  font-size: 1.5rem;
  margin: 6px 0 0;
}

.u-section-3 .u-text-15 {
  margin: 87px 331px 0 0;
}

.u-section-3 .u-text-16 {
  font-size: 1.5rem;
  margin: 20px 0 38px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-11 {
    margin-right: 564px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 131px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 131px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-11 {
    margin-right: 344px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
  }

  .u-section-3 .u-text-15 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 164px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-11 {
    margin-right: 0;
  }
} .u-section-4 {
  background-position: 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(219, 180, 142, 0.5)), url('images/a-chosen-soul-nCdBlbqlj4E-unsplash.jpg'), linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-size: cover, cover, cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 576px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 437px;
  --radius: 50px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 25px 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 21px auto 0 5px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-4 .u-list-1 {
  width: 492px;
  margin: 14px auto 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 165px;
  grid-auto-columns: 100%;
  --gap: 0px;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 10px 10px 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 437px;
  --radius: 50px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 0 16px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-4 .u-form-1 {
  height: 314px;
  width: 525px;
  margin: 20px auto 0;
}

.u-section-4 .u-input-1 {
  --radius: 50px;
}

.u-section-4 .u-input-2 {
  --radius: 50px;
}

.u-section-4 .u-input-3 {
  --radius: 40px;
}

.u-section-4 .u-btn-1 {
  --radius: 44px;
  background-image: none;
  padding: 9px 225px 11px 224px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 677px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-4 .u-list-1 {
    width: 405px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 0px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-4 .u-form-1 {
    width: 455px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 250px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 193px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-list-1 {
    width: 295px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-form-1 {
    width: 345px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 350px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding: 25px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 25px;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
  }
}