 .u-section-1 {
  min-height: 0;
}

.u-section-1 .u-image-1 {
  height: 735px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 942px;
  min-height: 464px;
  height: auto;
  background-image: none;
  --top-left-radius: 30px;
  --top-right-radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -210px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 15px 40px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 11px 0 27px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  --radius: 100px;
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 1px;
  align-self: center;
  margin: 31px auto 0;
  padding: 17px 53px 19px 51px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  margin: -836px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  width: 905px;
  margin: 26px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 600px 157px 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: 27px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  margin: 27px 94px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 10px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: 720px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-5 {
    width: 540px;
  }

  .u-section-1 .u-text-8 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    object-position: 53.27% 50%;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    padding: 18px 37px 18px 36px;
  }

  .u-section-1 .u-text-5 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 330px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(5, calc(20% - 12.8px));
  min-height: 99px;
  grid-auto-columns: calc(20% - 12.8px);
  --gap: 16px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/photo-1581594549595-35f6edc7b762.jpeg');
  --radius: 15px;
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.u-section-2 .u-container-layout-1 {
  padding: 15px 13px 0;
}

.u-section-2 .u-text-2 {
  margin: 13px 0 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/photo-1445462657202-a0893228a1e1.jpeg');
  --radius: 15px;
  background-position: 50% 50%;
  background-size: cover, cover;
}

.u-section-2 .u-container-layout-2 {
  padding: 15px 13px 0;
}

.u-section-2 .u-text-3 {
  margin: 13px 0 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/photo-1551884170-09fb70a3a2ed.jpeg');
  --radius: 15px;
  background-position: 50% 50%;
  background-size: cover, cover;
}

.u-section-2 .u-container-layout-3 {
  padding: 15px 13px 0;
}

.u-section-2 .u-text-4 {
  margin: 13px 0 0;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/photo-1631558556820-89123ea1ef89.jpeg');
  --radius: 15px;
  background-position: 50% 50%;
  background-size: cover, cover;
}

.u-section-2 .u-container-layout-4 {
  padding: 15px 13px 0;
}

.u-section-2 .u-text-5 {
  margin: 13px 0 0;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/photo-1671108503276-1d3d5ab23a3a.jpeg');
  --radius: 15px;
  background-position: 50% 50%;
  background-size: cover, cover;
}

.u-section-2 .u-container-layout-5 {
  padding: 15px 13px 0;
}

.u-section-2 .u-text-6 {
  margin: 13px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  margin: 23px 331px 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  margin: 10px -10px 16px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 82px;
  }

  .u-section-2 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-5 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-7 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-right: 131px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 10.666666666666666px));
    min-height: 209px;
    grid-auto-columns: calc(33.333333333333336% - 10.666666666666666px);
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8px));
    min-height: 353px;
    grid-auto-columns: calc(50% - 8px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-position: 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(219, 180, 142, 0.5)), url('images/a-chosen-soul-nCdBlbqlj4E-unsplash.jpg'), linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-size: cover, cover, cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 541px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 21px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 423px;
  --radius: 50px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 25px 20px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 21px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 19px auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 429px;
  --radius: 50px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 16px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 21px auto 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 21px 11px 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  margin: 19px auto 0 21px;
}

.u-section-3 .u-text-11 {
  margin: 0 auto 0 15px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  margin: 20px auto 0 21px;
}

.u-section-3 .u-text-13 {
  margin: 0 auto 0 15px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 677px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 127px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 98px;
    margin-bottom: -177px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 250px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -106px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 305px;
    margin-bottom: -204px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 350px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 244px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -23px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 238px;
    margin-bottom: -187px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: 11px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 170px;
    margin-bottom: -221px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 25px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 25px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 494px;
}

.u-section-4 .u-text-1 {
  margin: 26px 125px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 25px 0 0 77px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -64px auto 0 0;
  padding: 15px;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 36px auto 0 0;
  padding: 15px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 0 0 77px;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 53px auto 0 0;
  padding: 15px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -64px 0 0 77px;
}

.u-section-4 .u-icon-4 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 37px auto 0 0;
  padding: 15px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -64px 0 26px 77px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }
} .u-section-5 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(219, 180, 142, 0.5)), url('images/a-chosen-soul-nCdBlbqlj4E-unsplash.jpg');
  background-size: cover, cover;
}

.u-section-5 .u-sheet-1 {
  min-height: 290px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-5 .u-btn-1 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 23px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 239px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 183px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 137px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 86px;
  }
}